@charset 'utf-8';

*{margin:0; border:none;padding:0;box-sizing:border-box;}
html, body, div, h1, h2, p, img, footer, header, nav, section{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
  
body{
font-family:'Noto Sans KR';
font-weight:normal;
font-size:48px;
}
.wrap{
  width:100%;
  max-width:1980px;
  height:1714px;
  margin:0 auto;
}
.eng{font-family:'Roboto';}

.container{
  margin:0 383px;
}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
ul, li{
list-style:none;
}

a{
margin:0;
padding:0;
background:transparent;
text-decoration:none;
color:#000;
}

img{
vertical-align:top;
}
p{
  font-weight:900;
  font-size:14px;
  color:#333;
}
h1{font-weight:900;}
li,h2{
  font-weight:normal;
  font-size:14px;
}

/* header */
.header.container{
  width:1154px;
  height:123px;
}
.header_left{
  width:211px;
  height:100%;
  float:left;
}
.header_left>.header_img{
  width:90px;
  display:inline-block;
  margin-top:15px;

}
.header_left>.header_img img{
  width:90px;
}
.header_left>.header_tit{
  width:110px;
  font-size:36px;
  margin-top:-71px;
  margin-left:111px;
}
.header_left>.header_tit>a{color:#0e347e;}
.header_right{
  width:835px;
  height:100%;
  float:right;
}
.header_right>.header_top{
  width:156px;
  height:78px;
  margin-left:681px;
  margin-top:31px;
  display:flex;
  justify-content:space-between;
}
.header_right>.header_top>li{
  font-weight:lighter;
  font-size:10px;
  color:#666;
  display:inline-block;
}
.header_right>.header_top>li img{
  width:20px;
  height:20px;
}
.header_right>.nav{
  width:836px;
  height:45px;
  margin-top:-59px;
  cursor: pointer;
}
.header_right>.nav>li{
  margin-left:76px;
  font-weight:normal;
  font-size:14px;
  color:#333;
  display:inline-block;
}
.header_right>.nav>li:first-child{
  margin:0;
}

/* mainbanner */
.section{
  height:1333px;
  position:relative;
}
.section.mainbanner{
  height:500px;
}
.section.mainbanner>.nav{
  color:#000;
  position:absolute;
  left:29%;
  top:78%;
  cursor:pointer;
}
.section.mainbanner>.nav>li{
  display:inline-block;
  margin-top:-10px;
  background:#fff;
  border:1px solid #999;
  border-left:none;
}
.section.mainbanner>.nav>.yellow{
  padding:15px 60px;
  background:#f1ae1d;
  border-left:1px solid #999;
}
.section.mainbanner>.nav>li:nth-child(2),
.section.mainbanner>.nav>li:nth-child(3){
  padding:15px 66px;
}
.section.mainbanner>.nav>li:nth-child(4){
  padding:15px 40px;
}
.section.mainbanner>.nav>li:nth-child(5){
  padding:15px 55px;
}

/* sub-banner */
.section.sub_banner{
  height:673px;
  position:relative;
}
.section.sub_banner>.sub_tit{
  font-weight:bold;
  font-size:18px;
  color:#0e347e;
  cursor:pointer;
  margin:90px 0 48px 383px;
}
.section.sub_banner>img{
  width:1000px;
  height:502px;
  margin-bottom:29px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.section.sub_banner>p{
  position:absolute;
  left:502px;
  bottom:0;
  color:#666;
}
.section.sub_banner>p:first-of-type{
  padding-bottom:20px;
  font-weight:bold;
  color:#0e347e;
}

.section.sns{
  height:100px;
  margin-top:51px;
  text-align:center;
  position:relative;
  cursor:pointer;
}
.section.sns>.sns_img{
  position:absolute;
  left:50%;
  top:85%;
  transform:translate(-50%,-50%);
}
.section.sns img{
  width:30px;
  height:30px;
}
.section.sns img:first-child{
  margin-right:10px;
}
.section.sns img:last-child{
  margin-right:-10px;
}

/* footer */
.footer{
  height:258px;
  border-top:3px solid #f1ae1d;
  position:relative;
}
.footer img{
  width:359px;
  height:95px;
  position:absolute;
  top:21px;
  left:760px;
}
.footer>form{
  position:absolute;
  right:383px;
}
.footer input{
  width:190px;
  height:29px;
  border:1px solid #333;
  outline:none;
  margin-top:69px;
  padding-right:20px;
  cursor: pointer;
}
.footer>h2{
  margin-top:150px;
  font-weight:normal;
  font-size:15px;
  color:#333;
  text-align:center;
  line-height:27px;
}
.footer>p{
  margin-top:21px;
  font-weight:normal;
  font-size:15px;
  color:#ccc;
  text-align:center;
}
