@charset 'utf-8';


/* mainbanner */
.section{
  height:1333px;
  position:relative;
}
.section.mainbanner{
  height:500px;
}
.section.mainbanner>.nav{
  font-weight:normal;
  font-size:14px;
  color:#000;
  position:absolute;
  left:29%;
  top:78%;
  cursor:pointer;
}
.section.mainbanner>.nav li{
  display:inline-block;
  margin-top:-10px;
  margin-right:-4px;
  background:#fff;
  border:1px solid #999;
  border-left:none;
}
.section.mainbanner>.nav .yellow{
  margin-right:-3px;
  padding:15px 60px;
  background:#f1ae1d;
  border-left:1px solid #999;
}
.section.mainbanner>.nav>a:nth-child(2) li,
.section.mainbanner>.nav>a:nth-child(3) li{
  margin-right:-3px;
  padding:15px 66px;
}
.section.mainbanner>.nav>a:nth-child(4) li{
  margin-right:-4px;
  padding:15px 40px;
}
.section.mainbanner>.nav>a:nth-child(5) li{
  padding:15px 55px;
}

/* sub-banner */
.section.sub_banner{
  height:673px;
  position:relative;
}
.section.sub_banner>.sub_tit{
  font-weight:bold;
  font-size:18px;
  color:#0e347e;
  cursor:pointer;
  margin:90px 0 48px 383px;
}
.section.sub_banner>img{
  width:1000px;
  height:502px;
  margin-bottom:29px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.section.sub_banner>p{
  position:absolute;
  left:502px;
  bottom:0;
  color:#666;
}
.section.sub_banner>p:first-of-type{
  padding-bottom:20px;
  font-weight:bold;
  color:#0e347e;
}

.section.sns{
  height:100px;
  margin-top:51px;
  text-align:center;
  position:relative;
  cursor:pointer;
}
.section.sns .sns_img{
  position:absolute;
  left:50%;
  top:85%;
  transform:translate(-50%,-50%);
}
.section.sns img{
  width:45px;
  height:45px;
}
.section.sns img:first-child{
  margin-right:10px;
}
.section.sns img:last-child{
  margin-right:-10px;
}

