@charset 'utf-8';

*{margin:0;border:none;padding:0;}
.wrap{
  width:640px;
  height:100%;
  margin:0 auto;
}
body{font-family:'Noto Sans KR', sans-serif;}
.header,.secrion,.footer{box-sizing: border-box;}
ul,li{list-style:none;}
/* header css */
.header{
  width:640px;
  height:70px;
  position:relative;
}
.header_tit{
  width:157px;
  height:70px;
  margin-top:0;
  padding-left:50px;
}
.header_tit>a>h1{
  font-weight:bold;
  font-size:24px;
  color:#0e347e;
  position:absolute;
  top:17px;
}
.header_logo>img{
  width:32px;
  height:32px;
  position:absolute;
  left:12px;
  top:20px;
}
.btn_nav>a{
  width:32px;
  height:24px;
  display:flex;
  flex-flow:column nowrap; 
  justify-content:space-between;
  margin-top:-45px;
  padding-right:12px;
  float:right;
}
.btn_nav>a>span{
  width:100%;
  height:5px;
  border-radius:2px;
  background-color:black;
}
/* section css */
.section{
  width:100%;
  height:2500px;
}
 /* main_banner */
.main_banner{
  width:100%;
  height:200px;
}
.bx-wrapper{
  box-shadow:none;
  border:none;
}
.bx-wrapper .bx-pager{
  left:6px;
  bottom:20px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
  background-color:#fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
  background-color:yellow;
}
/* sub_banner */
.sub_banner{
  width:100%;
  height:2300px;
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
}
.coffee_story{
  width:100%;
  height:285px;
  position:relative;
}
.coffee_story>div>p:nth-of-type(1){
  font-family:'Roboto';
  font-weight:bold;
  font-size:18px;
  color:#564e00;
  position:absolute;
  left:12px;
  top:37px;
}
.coffee_story>div>p:nth-of-type(2){
  font-weight:600;
  font-size:14px;
  color:#202020;
  position:absolute;
  left:12px;
  top:120px;
}
.coffee_story>div>h1{
  font-family:'Roboto';
  font-weight:bold;
  font-size:56px;
  color:#0e347e;
  position:absolute;
  left:12px;
  top:55px;
}
.coffee_story>div>img{
  width:100%;
  height:285px;
}
.fresh_coffee,
.various_beverage,
.sweet_paiks_ccino,
.tasty_ice_cream{
  position:relative;
  padding-bottom:5px;
}
.fresh_coffee>div>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:24px;
  line-height:24px;
  color:#6b4d30;
  position:absolute;
  left:12px;
  top:37px;
}
.fresh_coffee>div>.line{
  width:86px;
  height:2px;
  background-color:#6b4d30;
  position:absolute;
  left:12px;
  top:88px;
}
.fresh_coffee>div>img{
  width:100%;
}
.various_beverage>div>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:24px;
  line-height:24px;
  color:#93a03d;
  position:absolute;
  left:12px;
  top:37px;
}
.various_beverage>div>.line{
  width:120px;
  height:2px;
  background-color:#93a03d;
  position:absolute;
  left:12px;
  top:88px;
}
.various_beverage>div>img{
  width:100%;
}
.sweet_paiks_ccino>div>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:24px;
  line-height:24px;
  color:#f1ae1d;
  position:absolute;
  left:12px;
  top:37px;
}
.sweet_paiks_ccino>div>.line{
  width:148px;
  height:2px;
  background-color:#f1ae1d;
  position:absolute;
  left:12px;
  top:88px;
}
.sweet_paiks_ccino>div>img{
  width:100%;
}
.tasty_ice_cream{
  width:100%;
  height:337px;
  position:relative;
}
.tasty_ice_cream>div>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:24px;
  line-height:24px;
  color:#f1ae1d;
  position:absolute;
  left:12px;
  top:37px;
}
.tasty_ice_cream>div>.line{
  width:102px;
  height:2px;
  background-color:#f1ae1d;
  position:absolute;
  left:12px;
  top:88px;
}
.tasty_ice_cream>div>img{
  width:100%;
}
.franchise_store{
  width:100%;
  height:291px;
  margin-top:20px;
  display:flex;
  flex-flow:row nowrap;
  position:relative;
}
.franchise>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:34px;
  line-height:24px;
  color:#0e347e;
  position:absolute;
  left:30px;
  top:20px;
}
.franchise>p{
  font-weight:600;
  font-size:14px;
  color:#202020;
  position:absolute;
  left:30px;
  top:55px;
}
.franchise>div>img{
  width:350px;
  height:352px;
  position:absolute;
  left:-12px;
  bottom:-8px;
}
.store>h1{
  font-family:'Roboto';
  font-weight:900;
  font-size:34px;
  line-height:24px;
  color:#0e347e;
  position:absolute;
  right:190px;
  top:20px;
}
.store>p{
  font-weight:600;
  font-size:14px;
  color:#202020;
  position:absolute;
  right:70px;
  top:55px;
}
.store>div:nth-of-type(1)>img{
  width:350px;
  height:352px;
  position:absolute;
  right:-9px;
  bottom:-39px;
}
.store>input{
  width:252px;
  height:34px;
  border:3px solid #0e347e;
  font-family:'Roboto';
  font-weight:600;
  font-size:14px;
  line-height:24px;
  color:#757575;
  position:absolute;
  right:30px;
  bottom:50px; 
  padding-left:7px;
}
.store>img{
  position:absolute;
  right:0;
  bottom:7px
}
.paiks_coffee_sns{
  width:100%;
  height:400px;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-around;
  align-items:center;
  position:relative;
}
.paiks_coffee_sns>h1{
  font-family:'Roboto';
  font-weight:600;
  font-size:30px;
  color:#202020;
  padding-top:92px;
  padding-bottom:20px;
}
.paiks_coffee_sns>span{
  width:100px;
  height:1px;
  background-color:#0e347e;
  position:absolute;
  left:270px;
  bottom:80px;
}
.paiks_coffee_sns_txt>p{
  padding-left:27px;
  float:left;
  font-weight:bold;
  font-size:16px;
  color:#999;
  padding-bottom:20px;
}
.paiks_coffee_sns_txt>p:nth-child(1){
  padding-left:0;
}
.sns_icon{
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  margin:20px 0;
}
.insta_sns,.face_sns{
  width:30px;
  height:30px;
  background-color:#0e347e;
  border:1px solid #0e347e;
  border-radius:50%;
  position:relative;
}
.insta_sns{
  margin-right:33px;
}
.circle{
  width:15px;
  height:15px;
  border:2px solid white;
  border-radius:5px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.circle::before{
  content:'';
  display:block;
  width:8px;
  height:8px;
  border:2px solid white;
  border-radius:50%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.circle::after{
  content:'';
  display:block;
  width:2px;
  height:2px;
  background-color:white;
  border-radius:50%;
  position:absolute;
  left:12px;
  top:1px;
}
.face_sns::before{
  content:'f';
  display:block;
  font-family:'Roboto';
  font-size:25px;
  color:white;
  position:absolute;
  left:11px;
  top:1px;
}
/* footer css */
.footer{
  width:100%;
  height:500px;
  position:relative;
  border-top:2px solid #f1ae1d;
  margin-top:98px;
}
.footer>div>img{
  width:179px;
  height:47px;
  position:absolute;
  left:222px;
  top:62px;
}
.footer>div>h2{
  font-weight:600;
  font-size:16px;
  line-height:27px;
  text-align: center;
  color:#262626;
  display: flex;
  position:absolute;
  left:150px;
  top:160px;
}
.footer>div>p{
  font-family:'roboto';
  font-weight:600;
  font-size:16px;
  line-height:27px;
  color:#262626;
  position:absolute;
  left:80px;
  bottom:40px;
}